@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
  margin: 0;
}

.bg-color-home {
  background: linear-gradient(to top, transparent,#712bda) #a45deb;
}

.bg-color-header {
  background: linear-gradient(to left, transparent,#712bda) #a45deb;
}

.search-button-popup {
  background: linear-gradient(98deg, #712bda, #a45deb);
}

.search-button {
  background-color: rgba(255, 255, 255, 0.2);
}

.text-input::placeholder {
  font-size: 12px;
}

.card-music {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.text-yellow {
  color: #F5B014
}